# SMTP Sunucu Ayarları
SMTP_HOST=mail.kutupgrup.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=info@kutupgrup.com
SMTP_PASS=BurayaSmtpSifreniziYazin

# E-posta Bildiriminin Gönderileceği Hedef Adres
NOTIFICATION_EMAIL=info@kutupgrup.com
